

ANTHROPIC_API_KEY=

# GCP stuff
GOOGLE_CLOUD_PROJECT=
GOOGLE_MAPS_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./.secrets/fionaa-service-acct.json
SECRETS_PATH = ".secrets"
SECRETS_PATH = ".secrets"
BUCKET_NAME = "fionaa-customer-assets"

#local DB stuff
PG_USER=
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=
PG_DB=langchain
PG_TABLE=ade_documents
# MCP stuff
CH_MCP_SERVICE_URL=
COMPANIES_HOUSE_API_KEY=

LINKEDIN_MCP_SERVICE_URL=
TAVILY_API_KEY=


# Langsmith keys
LANGSMITH_API_KEY=
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT="Fionaa"
# LangGraph Cloud deployment URL (e.g. https://fionaa-abc123.us.langgraph.app)
LANGGRAPH_URL=

# LandingAI
VISION_AGENT_API_KEY=

# Configs for testing subsets of the full pipline
RUN_WITHOUT_OCR=true
RUN_WITHOUT_INTERNET_SEARCH=true